.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
img{
  width: 30;
  height: 30;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  top: 20%;
  width: 100%;
  background-color: #673ab7;
  color: white;
  text-align: center;
  

}